/** all sections **/
* {
	margin: 0;
	padding: 0;
	font-variant-ligatures: none;
}

:root {
	--main-color: #086587;
	--sec-color: #ff5959;
	--bg-color-one: #ffffff;
	--bg-color-two: #F4F4F4;
	--text-color: #01171F;
	--baji-one: #D95284;
	--baji-two: #ffe7f0;
	--nibib-one: #055594;
	--nibib-two: #cad7e1;
	--niehs-one: #4f8210;
	--niehs-two: #e5ecdc;
	--recipe-one: #3C9472;
	--recipe-two: #cbf7e6;
	--lem-one: orange;
}

html {
	scroll-behavior: smooth;
}

body {
	width: 100%;
	background-color: var(--bg-color-one);
}

main {
	margin-top: 6rem;
	background-color: var(--bg-color-one);
	scroll-snap-type: y mandatory;
}

#splash-intro {
	margin: auto;
	width: 80%;
	padding-bottom: 2rem;
	max-width: 1080px;
}

h1,
h2,
h3,
h4,
p,
.list li,
p a {
	font-family: 'Lato', sans-serif;
	color: var(--text-color);
}

h1,
h2,
h3,
h4 {
	padding-bottom: 1rem;
}

h2.col-six {
	padding-bottom: 0;
	align-items: center;
}

h1 {
	font-size: 3rem;
}

h2,
.project-num {
	font-size: 2rem;
}

h3 {
	font-size: 1.5rem;
}

h4 {
	font-size: 1.2rem;
}

p {
	line-height: 1.25;
}

li a {
	color: var(--text-color);
	text-decoration: underline;
}

p,
ul {
	font-size: 1.2rem;
	padding-bottom: .5rem;
}

ul li ul {
	padding-bottom: 0px;
}

.button {
	font-family: 'Lato', sans-serif;
	font-weight: 600;
	font-size: 1rem;
	background-color: var(--main-color);
	color: var(--bg-color-one);
	border: 0;
	border-radius: 5px;
	padding: 1rem;
	transition: 0.3s;

	&:hover {
		background-color: var(--text-color);
		cursor: pointer;
		padding-right: 2rem;
	}
}

a {
	text-decoration: none;
}

a:hover {
	color: var(--sec-color);
}

p::selection,
h1::selection,
h2::selection,
h3::selection,
h4::selection,
a::selection,
br::selection,
li::selection,
span::selection,
strong::selection {
	color: white;
	background: var(--sec-color);
}

img::selection {
	background: white;
}

.list {
	margin-left: 1rem;

	& li {
		font-size: 1.2rem;
		margin-bottom: .5rem;

		&::marker {
			content: "\21C0  ";
		}
	}
}

/** Grid Control **/

.project-grid {

	display: grid;
	width: 80%;
	grid-template-columns: repeat(6, 1fr);
	grid-gap: 2rem;
	grid-row-gap: 2rem;
	max-width: 1080px;
}

.col-one,
.col-six {
	display: block;
}

.col-one {
	grid-column: span 1;
}

.col-two {
	grid-column: span 2;
}

.col-three {
	grid-column: span 3;
}

.col-four {
	grid-column: span 4;
}

.col-five {
	grid-column: span 5;
}

.col-six {
	grid-column: span 6;
}

/** Navbar **/
#navbar {
	font-family: "PT Mono", monospace;
	position: fixed;
	top: 0;
	width: 100%;
	background-color: var(--bg-color-one);
	padding-right: 2rem;
	padding-top: 1.5rem;
	padding-bottom: 1rem;
	z-index: 2;

	&>ul {
		display: flex;
		flex-direction: row;
		justify-content: end;
		grid-gap: 3rem;
		list-style: none;
		margin: auto;
		width: 80%;
		max-width: 1080px;

		&>li a {
			display: block;
			color: var(--text-color);
			text-decoration: none;

			&:hover {
				color: var(--sec-color);
				margin-top: -.25rem;

				&::selection {
					color: white;
					background: var(--main-color);
				}
			}
		}
	}
}

/** Main Page **/
.a-section {
	display: flex;
	width: 100%;
	min-height: 90vh;
	align-items: center;
	padding-bottom: 3rem;

	scroll-snap-align: start;
	scroll-margin-top: 3rem;

	&>.project-grid {
		margin: 5% auto auto auto;
	}
}

.a-section:nth-child(even) {
	background-color: var(--bg-color-two);
}

#adj-noun {
	color: var(--main-color);
}

#profile-pic {
	width: 100%;
	border-radius: 15px;
}

.project-tile {
	background-color: var(--bg-color-one);
	padding: 1rem 1rem 2rem 1rem;
	border-radius: 1rem;
	grid-column: span 2;
	box-shadow: 2px 4px 8px 4px rgba(0, 0, 0, 0.2);
	text-decoration: none;

	&>img {
		width: 100%;
		object-fit: cover;
		border-radius: 3px;
		;
	}
}

.project-num,
.project-tag {
	font-family: "PT Mono", monospace;
	color: var(--main-color);
}

/** Footer **/
#footer {
	min-height: 25vh;
	--s: 150px;
	/* control the size*/
	--c1: #011d27;
	--c2: #01171f;

	--_g:
		var(--c1) 0% 5%, var(--c2) 6% 15%, var(--c1) 16% 25%, var(--c2) 26% 35%, var(--c1) 36% 45%,
		var(--c2) 46% 55%, var(--c1) 56% 65%, var(--c2) 66% 75%, var(--c1) 76% 85%, var(--c2) 86% 95%,
		#0000 96%;
	background:
		radial-gradient(50% 50% at 100% 0, var(--_g)),
		radial-gradient(50% 50% at 0 100%, var(--_g)),
		radial-gradient(50% 50%, var(--_g)),
		radial-gradient(50% 50%, var(--_g)) calc(var(--s)/2) calc(var(--s)/2) var(--c1);
	background-size: var(--s) var(--s);
}

#reach {
	color: var(--bg-color-one);
	font-size: 2rem;
	padding-bottom: 1.5rem;
}

#footer a {
	color: var(--bg-color-one);
	text-decoration: underline;

	&:hover {
		color: var(--sec-color);
	}
}

/** Projects **/
#intro {
	margin: auto;
	width: 80%;
	max-width: 1080px;
}

#banner {
	width: 100%;
	border-radius: 1rem;
}

.project-section {
	width: 100%;
	padding-top: 3rem;
	padding-bottom: 4rem;
	align-items: center;
	scroll-snap-align: start;
	scroll-margin-top: 3rem;

	&>.project-grid {
		margin: 1rem auto auto auto;
	}
}

.project-section:nth-child(odd) {
	background-color: var(--bg-color-two);
}

.card-one {
	border-radius: 1rem;
	background-color: var(--bg-color-two);
	padding: 1.5rem;
}

.card-two {
	border-radius: 1rem;
	background-color: var(--bg-color-one);
	padding: 1.5rem;
}

.image {
	max-width: 516px;
	width: 100%;
	height: auto;
	border-radius: 4px;
	box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.1);
	margin-bottom: 2rem;
}

.figma-embed {
	display: flex;
	width: 100%;
	height: 450px;
	border: 1px solid rgba(0, 0, 0, 0.5);
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.figma-recipe-embed {
	display: flex;
	width: 360px;
	height: 640px;
	border: 1px solid rgba(0, 0, 0, 0.5);
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-duration: .5s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
		transform: scale(.8);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

/** ---Gallery function---**/
.gallery {
	margin: 0 auto;
	display: grid;
	width: 100%;
	grid-gap: 1rem;
	padding-top: 2rem;
	padding-bottom: 2rem;

	&>.item {
		max-width: 180px;
		margin: 0 auto;
		filter: grayscale(40%);

		&:hover {
			filter: none;
			transition: 0.3s ease-out;
			transform: scale(1.06);
		}

		&>img {
			max-width: 180px;
			box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px 0px,
				rgba(0, 0, 0, 0.5) 0px 2px 8px 0px;
		}
	}
}

.gallery-two {
	grid-template-columns: repeat(2, 1fr);
}

.gallery-three {
	grid-template-columns: repeat(3, 1fr);
}

.gallery-four {
	grid-template-columns: repeat(4, 1fr);
}

/**Project Colors**/

/** NIEHS **/

#niehs-projects h2::after {
	content: '';
	flex: 1;
	margin-left: 1rem;
	margin-top: 4px;
	height: 6px;
	background-color: var(--niehs-one);
}

#niehs-projects h3::before {
	content: '|';
	flex: 1;
	color: var(--niehs-one);
	text-shadow: 2px 0 var(--niehs-one);
	font-weight: 900;
	margin-right: 9px;
	position: relative;
	top: -1px;
}

#niehs-projects h4::before {
	content: '|| ';
	flex: 1;
	color: var(--niehs-one);
	font-weight: 900;
	position: relative;
	top: -1px;
}

#niehs-subtitle {
	color: var(--niehs-one);
	font-size: 1.5rem;
	padding-bottom: 1rem;
}

.niehs-card {
	border-radius: 1rem;
	background-color: var(--niehs-two);
	padding: 1.5rem;
}

/** NIBIB **/

#nibib-projects h2::after {
	content: '';
	flex: 1;
	margin-left: 1rem;
	margin-top: 4px;
	height: 6px;
	background-color: var(--nibib-one);
}

#nibib-projects h3::before {
	content: '|';
	flex: 1;
	color: var(--nibib-one);
	text-shadow: 2px 0 var(--nibib-one);
	font-weight: 900;
	margin-right: 9px;
	position: relative;
	top: -1px;
}

#nibib-projects h4::before {
	content: '|| ';
	flex: 1;
	color: var(--nibib-one);
	font-weight: 900;
	position: relative;
	top: -1px;
}

#nibib-subtitle {
	color: var(--nibib-one);
	font-size: 1.5rem;
	padding-bottom: 1rem;
}

.nibib-card {
	border-radius: 1rem;
	background-color: var(--nibib-two);
	padding: 1.5rem;
}

/** Baji **/

#baji-projects h3::before {
	content: '|';
	flex: 1;
	color: var(--baji-one);
	text-shadow: 2px 0 var(--baji-one);
	font-weight: 900;
	margin-right: 9px;
	position: relative;
	top: -1px;
}

#baji-projects h4::before {
	content: '|| ';
	flex: 1;
	color: var(--baji-one);
	position: relative;
	top: -1px;
}

#baji-subtitle {
	color: var(--baji-one);
	font-size: 1.5rem;
	padding-bottom: 1rem;
}

.baji-card {
	border-radius: 1rem;
	background-color: var(--baji-two);
	padding: 1.5rem;
}

/** Recipe Box **/

#recipe-projects h2::after {
	content: '';
	flex: 1;
	margin-left: 1rem;
	margin-top: 4px;
	height: 6px;
	background-color: var(--recipe-one);
}

#recipe-projects h3::before {
	content: '|';
	flex: 1;
	color: var(--recipe-one);
	text-shadow: 2px 0 var(--recipe-one);
	font-weight: 900;
	margin-right: 9px;
	position: relative;
	top: -1px;
}

#recipe-projects h4::before {
	content: '|| ';
	flex: 1;
	color: var(--recipe-one);
	font-weight: 900;
	position: relative;
	top: -1px;
}

#recipe-subtitle {
	color: var(--recipe-one);
	font-size: 1.5rem;
	padding-bottom: 1rem;
}

.recipe-card {
	border-radius: 1rem;
	background-color: var(--recipe-two);
	padding: 1.5rem;
}

/** lemlem Juice **/

#lem-projects h2::after {
	content: '';
	flex: 1;
	margin-left: 1rem;
	margin-top: 4px;
	height: 6px;
	background-color: var(--baji-one);
}

#lem-subtitle {
	color: var(--baji-one);
	font-size: 1.5rem;
	padding-bottom: 1rem;
}


/** Responsive Code **/

@media (min-width:724px) and (max-width:1258px) and (pointer: fine) {


	#muz-is {
		grid-column: span 6;
		margin: auto;
	}

	#profile-pic {
		grid-column: span 2;
	}

	.project-tile {
		grid-column: span 3;
	}

	.col-four,
	.col-five {
		grid-column: span 6;
	}
}

@media (max-width: 723px) and (pointer: fine) {


	.list {
		padding-left: 1rem;
		padding-bottom: 1.5rem;
	}

	#muz-is {
		grid-column: span 6;
	}

	#profile-pic {
		display: none;
	}

	.a-section {
		padding-top: 3rem;
		padding-bottom: 3rem;
	}

	.project-tile {
		grid-column: span 6;
	}

	#footer {
		min-height: 25vh;
		padding: 0;
	}

	.col-one,
	.col-two,
	.col-three,
	.col-four,
	.col-five {
		grid-column: span 6;
	}

	.col-two {
		width: auto;
	}

	.gallery-four {
		grid-template-columns: repeat(2, 1fr);
	}

}

@media (min-width:701px) and (max-width:1649px) and (pointer: coarse) {

	main {
		margin: auto;
		margin-top: 6rem;
	}

	.project-tile {
		grid-column: span 3;
	}

}

@media (max-width: 980px) and (pointer: coarse) {
	main {
		width: 100%;
		flex-direction: column;
		margin-left: 0;
		left: 0;
		overflow: hidden;
	}

	.a-section {
		padding-bottom: 4rem;
	}

	h1 {
		font-size: 5.5rem;
	}

	h2 {
		font-size: 5rem;
		padding-bottom: 2rem;
	}

	h3 {
		font-size: 4rem;
	}

	h4,
	p,
	.project-tag,
	#reach,
	.list li,
	#niehs-subtitle,
	#nibib-subtitle,
	#baji-subtitle,
	#recipe-subtitle {
		font-size: 3rem;
	}

	.button {
		font-size: 3rem;
		border-radius: 8px;
		padding: 2rem;
	}

	p {
		line-height: 1.25;
	}

	#banner {
		position: relative;
		width: 200%;
		margin: 0 0 0 -50vw;
	}

	.list {
		padding-left: 3rem;
		padding-bottom: 1.5rem;
	}

	#navbar {
		margin: 0;
		width: 100%;
		height: 5rem;
		z-index: 5;

		&>ul {
			margin: 0 auto;
			width: 80%;
			flex-direction: row;
			justify-content: left;
			list-style: none;
		}

		& li {
			padding: 1rem;
			padding-bottom: 2rem;

			& a {
				font-size: 2.5rem;
			}
		}
	}

	#footer {
		min-height: 20vh;
		padding: 0;
	}

	#muz-is {
		grid-column: span 6;
		padding-bottom: 2rem;
	}

	#profile-pic {
		display: none;
	}

	.project-tile {
		grid-column: span 6;
		&>p {
			padding-bottom: 1rem;
		}
	}

	.project-num {
		font-size: 5rem;
	}

	.col-one,
	.col-two,
	.col-three,
	.col-four,
	.col-five {
		grid-column: span 6;
	}

	.col-two {
		width: auto;
	}

	.gallery-four {
		grid-template-columns: repeat(2, 1fr);
	}
}